@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
/* Estilos para escritorio (computadora) */
.contenedor-menu {
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  /* Selecciona la imagen de la taquiza */
  .contenedor-menu img {
    width: 100%;       /* Ocupa el ancho total del celular */
    height: auto;      /* Mantiene la proporción para que se vea completa */
    max-width: 450px;  /* Evita que se vea demasiado grande en tablets */
    display: block;    /* Elimina espacios extra debajo de la imagen */
    margin: 0 auto;    /* La centra horizontalmente */
  }
}
